[submodule "JUCE"]
	path = JUCE
	url = https://github.com/juce-framework/JUCE.git
[submodule "LibPyin"]
	path = LibPyin
	url = https://github.com/xstreck1/LibPyin.git
[submodule "rubberband"]
	path = rubberband
	url = https://github.com/breakfastquay/rubberband.git
[submodule "libsbsms"]
	path = libsbsms
	url = https://github.com/claytonotey/libsbsms.git
[submodule "Ring-Buffer"]
	path = Ring-Buffer
	url = https://github.com/jnk0le/Ring-Buffer.git
[submodule "googletest"]
	path = googletest
	url = https://github.com/google/googletest.git
[submodule "spdlog"]
	path = spdlog
	url = https://github.com/gabime/spdlog.git
