[submodule "JUCE"]
	path = JUCE
	url = https://github.com/juce-framework/JUCE.git
[submodule "LibPyin"]
	path = LibPyin
	url = https://github.com/xstreck1/LibPyin.git
[submodule "rubberband"]
	path = rubberband
	url = https://github.com/breakfastquay/rubberband.git
