[submodule "JUCE"]
	path = JUCE
	url = https://github.com/juce-framework/JUCE.git
[submodule "rubberband"]
	path = rubberband
	url = https://github.com/breakfastquay/rubberband.git
[submodule "Ring-Buffer"]
	path = Ring-Buffer
	url = https://github.com/jnk0le/Ring-Buffer.git
[submodule "googletest"]
	path = googletest
	url = https://github.com/google/googletest.git
[submodule "spdlog"]
	path = spdlog
	url = https://github.com/gabime/spdlog.git
[submodule "pffft"]
	path = pffft
	url = https://github.com/marton78/pffft.git
[submodule "eigen"]
	path = eigen
	url = https://github.com/saintmatthieu/eigen.git
